.cartContainer {
  padding: 3.5rem;
  border-radius: 5px;
  width: 100%;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    color: #000;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 100ms ease-in-out;
  }

  table {
    background-color: #fff;
    width: 100%;
    border-radius: 8px 8px 0 0;

    thead th {
      color: #999;
      text-align: left;
      padding: 12px;

      &:nth-child(3) {
        text-align: center;
      }
    }

    tbody tr {
      border-bottom: 1px solid #eee;
    }
    tbody td {
      padding: 12px;

      figure {
        display: flex;
        justify-content: center;
      }
    }
  }

  img {
    height: 100px;
  }

  strong {
    display: block;
  }

  span {
    display: block;
    margin-top: 4px;
    font-size: 18px;
    font-weight: bold;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      border: 1px solid #ddd;
      border-radius: 3px;
      color: #666;
      padding: 6px;
      width: 50px;
      text-align: center;
    }
  }

  button {
    background: none;
    border: 0;
    padding: 6px 8px;
    svg {
      @media (max-width: 640px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.footer {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  button {
    background: #1c5d99;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 180ms ease-in-out;

    @media (max-width: 520px) {
      margin-top: 20px;
      width: 100%;
      padding: 20px;
    }

    &:hover {
      background: darken(rgb(28, 93, 153), 4%);
    }
  }

  div {
    display: flex;
    align-items: baseline;

    span {
      color: rgb(153, 153, 153);
      font-weight: bold;
    }
    strong {
      font-size: 2.1rem;
      margin-left: 8px;
    }
  }
}

.emptyContent {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: 100vh;
  border-radius: 8px;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
  }

  span {
    font-size: 1.2rem;
    font-weight: 450;
    margin: 12px 0px 28px;
  }

  a {
    background: rgb(28, 93, 153);
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 10ms ease-in-out 0s;
    text-decoration: none;
    display: inline-block;
  }
}
