.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product {
  display: flex;
  width: 100%;
  background: #fff;
  padding: 2rem;
  margin: 2rem;
  border-radius: 8px;

  img {
    max-width: 500px;
  }
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  h1 {
    margin-bottom: 2rem;
  }

  span {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  button {
    background: rgba(28, 93, 153, 1);
    border: 0;
    color: #ffffff;
    font-weight: 550;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-top: 1.4rem;
    max-width: 200px;

    display: flex;
    align-items: center;
    transition: 180ms ease-in-out;

    &:hover {
      background-color: darken(rgb(28, 93, 153), 15%);
    }

    > div:first-child {
      display: flex;
      align-items: center;
      padding: 0.75rem;
      background: darken(rgb(28, 93, 153), 10%);
    }

    span {
      margin-left: 1rem;
    }
  }
}
